# Arb Check aganist Reference Price

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("price_collar_usage.csv")
df

,sym,lastPublish,age,ticking,tradable,bid,ask,refPrice
0,AUDCAD,NaN,1705,1,1,0.866770,0.883785,0.900
1,AUDCHF,NaN,1726,1,1,0.604250,0.605450,0.580
2,AUDJPY,NaN,1603,1,1,67.515360,68.039540,64.000
3,AUDNZD,NaN,2105,1,1,1.031537,1.045268,1.085
4,AUDUSD,NaN,1712,1,1,0.618248,0.626657,0.585

In [3]:
tolerance = 0.01

In [4]:
df["minRefPrice"] = df["refPrice"]*(1 - 0.5 * tolerance)
df["maxRefPrice"] = df["refPrice"]*(1 + 0.5 * tolerance)
df

,sym,lastPublish,age,ticking,tradable,bid,ask,refPrice,minRefPrice,maxRefPrice
0,AUDCAD,NaN,1705,1,1,0.866770,0.883785,0.900,0.895500,0.904500
1,AUDCHF,NaN,1726,1,1,0.604250,0.605450,0.580,0.577100,0.582900
2,AUDJPY,NaN,1603,1,1,67.515360,68.039540,64.000,63.680000,64.320000
3,AUDNZD,NaN,2105,1,1,1.031537,1.045268,1.085,1.079575,1.090425
4,AUDUSD,NaN,1712,1,1,0.618248,0.626657,0.585,0.582075,0.587925

In [8]:
df["tobBidArbable"] = df["bid"] - df["maxRefPrice"] > 1e-8
df["tobAskArbable"] = df["minRefPrice"] - df["ask"] > 1e-8
df

,sym,lastPublish,age,ticking,tradable,bid,ask,refPrice,minRefPrice,maxRefPrice,tobBidArbable,tobAskArbable
0,AUDCAD,NaN,1705,1,1,0.866770,0.883785,0.900,0.895500,0.904500,False,True
1,AUDCHF,NaN,1726,1,1,0.604250,0.605450,0.580,0.577100,0.582900,True,False
2,AUDJPY,NaN,1603,1,1,67.515360,68.039540,64.000,63.680000,64.320000,True,False
3,AUDNZD,NaN,2105,1,1,1.031537,1.045268,1.085,1.079575,1.090425,False,True
4,AUDUSD,NaN,1712,1,1,0.618248,0.626657,0.585,0.582075,0.587925,True,False